<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-snapkit" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaSnapPlugin</name>

    <js-module name="CordovaSnapPlugin" src="www/CordovaSnapPlugin.js">
        <clobbers target="CordovaSnapPlugin" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">

            <feature name="CordovaSnapPlugin">
                <param name="ios-package" value="CordovaSnapPlugin" />
            </feature>

        </config-file>
        <source-file src="src/ios/CordovaSnapPlugin.swift" />
        <dependency id="cordova-plugin-add-swift-support" version="1.7.2"/>
    </platform>
</plugin>